* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: red;
}
body {
    font-size: 100%;
}
.page {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 100vh;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: #fdfaf5;
    border-right: solid 2px black;
}
.logotext {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 1rem;
    
    margin: 2rem;
}
.logotext h1 {
    font-family: 'Geist', sans-serif;
    font-size: 3rem;

    white-space: nowrap;
}
.logotext span {
    display: block;

    text-align: center;

    margin-top: -1rem;

    font-family: 'Caveat', sans-serif;
    font-size: 5rem;
    font-weight: 100;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    padding: 15px;
}
.right img {
    display: none;

    width: 80px;
}
.card {
    display: grid;
    grid-auto-rows: auto;
    
    width: 100%;
    max-width: 400px;

    margin: 0 auto;

    border: solid 2px black;
    border-radius: 0.5rem;

    font-family: 'Geist', sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
}
.top {
    display: flex;
    flex-direction: column;

    padding: 1.2rem;

    text-align: center;
    border-bottom: solid 2px black;

}
.signin {
    padding: 0.5rem;
    
    background-color: #fdfaf5;
    border-bottom: solid 2px black;
}
.toggle {
    display: flex;

    border: solid 2px black;
    border-radius: 0.8rem;
    padding: 0.4rem;

    gap: 0.7rem;
}
.toggle input {
    display: none;
}
.toggle label {
    text-align: center;
    font-size: 0.8rem;

    padding: 0.8rem;
    border-radius: 0.8rem;
    
    flex: 1;

    transition: 0.2s ease;
}
#signin:checked ~  label[for="signin"],
#signup:checked ~  label[for="signup"] {
    color: white;
    background-color: black;
}
.bottom {
    padding: 1.2rem;

    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;
    flex: 1;
}
.buttons button {
    padding: 0.8rem;

    border-radius: 0.5rem;
    border: solid 2px black;
    
    background-color: white;

    font-size: 0.8rem;
    font-weight: 900;

    transition: 0.2s ease;
}
.buttons button:hover {
    transform: scale(1.02)
}
#discord {
    background-color: #5865f2 !important;
    color: white;
}
.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    color: #888;
}
.divider span {
    padding: 0 0.7rem;
}
.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: dashed 2px;
}
.toggleotp {
    display: flex;
    gap: 0.7rem;

    padding: 0.4rem;
    width: 100%;
    border: solid 2px black;
    border-radius: 0.8rem;
}
.toggleotp input {
    display: none;
}
.toggleotp label {
    text-align: center;
    white-space: nowrap;

    padding: 0.8rem;
    border-radius: 0.8rem;
    flex: 1;

    transition: 0.2s ease;
}
#password:checked ~ label[for="password"],
#otp:checked ~ label[for="otp"] {
    background-color: black;
    color: white;
}
.forms {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    width: 100%;
}
.forms label {
    font-size: 1rem;
}
.forms input {
    padding: 0.8rem;
    border-radius: 0.8rem;
    border: solid 2px black;
}
.forms button {
    margin-top: 1rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    border: solid 2px black;

    background-color: #2a94ff;
    font-weight: 900;

    transition: 0.2s ease;
}
.forms button:hover {
    transform: scale(1.02)
}
@media screen and (max-width: 768px) {
    .page {
        grid-template-columns: 1fr;
    }
    .left {
        display: none;
    } 
    .right img {
        display: block;
    }
}
